html {
    height: 100%;
}


body {
    
    background: linear-gradient(to bottom, skyblue, crimson);
    text-align: center;
}


h1 {
    display: inline-block;
position: relative;
    font-size: 3em;
    font-family: Arial, Helvetica, sans-serif;
    margin: 300px auto;
    transition: color 0.3s;
    
}
h1:hover {
    transition-delay: 0.1s;
    color: white;
}
h1::before {
    position: absolute;
    top: 80%;
    left: -25%;
    width: 25%;
    height: 200%;
    content: "";
    color: white;
   background: white;
   z-index: -1;
   transition: 0.3s;
   opacity: 0;
   
}
h1:hover::before {
    background-color: red;
    transform: rotate(90deg) translate(-50px,-50px) scale(2);
    opacity: 1;
}

h1::after {
    position: absolute;
    top: 72%;
    width: 2%;
    height: 13%;
    content: "";
    color: white;
    background-color: black;
    border-radius: 100%;
    opacity: 0;
    transition: 0.1s;
}
h1:hover::after {
    transition-delay: 0.1s;
    background-color: red;
    opacity: 1;
}